<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app">
  <label for="Lisa">
    <input type="radio" id ="Lisa" value="Lisa" v-model="lady">Lisa
  </label>
  <label for="Halsey">
    <input type="radio" id ="Halsey" value="Halsey" v-model="lady">Halsey
  </label>
  <h2>你选择的老婆是：{{lady}}</h2>
</div>
<script src="../js/vue.js"></script>
<script>
  const app =new Vue({
    el:'#app',
    data:{
      message:'hello Lisa ！',
      lady:'Lisa'
    }
  })
</script>
</body>
</html>